

<div data-role="sidebar" data-toggle="#sidebar-toggle" class="sidebar">
     <li class="nav-item p-3">
  <a class="nav-link" href="../index.html">
    <img src="../IMG/home-svgrepo-com.svg" class="nav-icon red">
    <span>Main page</span>
  </a>
</li>

<li class="nav-item p-3  class="mx-auto"><a>THE BASICS</a></li>

<li class="nav-item p-3">
  <a class="nav-link" href="./main.html">
    <img src="../IMG/toggle-start-svgrepo-com.svg" class="nav-icon blue">
    <span>Getting started</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./tags.html">
    <img src="../IMG/xml-svgrepo-com.svg" class="nav-icon blue">
    <span>Tags</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./id.html">
    <img src="../IMG/xml-svgrepo-com.svg" class="nav-icon blue">
    <span>ID's</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/indentation-ui-svgrepo-com.svg" class="nav-icon blue">
    <span>Syntax</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/gear.png" class="nav-icon blue">
    <span>The interpeter</span>
  </a>
</li>

<li class="nav-item p-3  class="mx-auto"><a>LANGUAGE FUNDAMENTALS</a></li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/letter-x.svg" class="nav-icon green">
    <span>Variables</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/key-skeleton-svgrepo-com.svg" class="nav-icon green">
    <span>Publicty/Privacy</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/logic-diagram-svgrepo-com.svg" class="nav-icon green">
    <span>Conditionals</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/reload-svgrepo-com.svg" class="nav-icon green">
    <span>Loops</span>
  </a>
</li>



<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/function-svgrepo-com.svg" class="nav-icon green">
    <span>Functions</span>
  </a>
</li>

<li class="nav-item p-3  class="mx-auto"><a>OPERATORS</a></li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/sigma-svgrepo-com.svg" class="nav-icon orange">
    <span>Math operators</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/circle-svgrepo-com.svg" class="nav-icon orange">
    <span>Unary operators</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/intersect-circle-svgrepo-com.svg" class="nav-icon orange">
    <span>Binary operators</span>
  </a>
</li>

<li class="nav-item p-3  class="mx-auto"><a>LIBRARIES</a></li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/book-1206-svgrepo-com.svg" class="nav-icon yellow">
    <span>Libraries</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/arrows-vertical.png" class="nav-icon yellow">
    <span>Imports/Exports</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/gear.png" class="nav-icon yellow">
    <span>Standard library</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/sigma-svgrepo-com.svg" class="nav-icon yellow">
    <span>Math library</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/document-svgrepo-com.svg" class="nav-icon yellow">
    <span>IO</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/padlock.svg" class="nav-icon yellow">
    <span>Crypto</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/random-svgrepo-com.svg" class="nav-icon yellow">
    <span>Random library</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html" >
    <img src="../IMG/plus.svg" class="nav-icon yellow">
    <span>Adding libraries</span>
  </a>
</li>

<li class="nav-item p-3  class="mx-auto"><a>EXTERNAL</a></li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/github-01-svgrepo-com.svg" class="nav-icon black">
    <span>Github</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./absent.html">
    <img src="../IMG/discord-icon-svgrepo-com.svg" class="nav-icon indigo">
    <span>Discord</span>
  </a>
</li>

</div>