

<div data-role="sidebar" data-toggle="#sidebar-toggle" class="sidebar">
     <li class="nav-item p-3">
  <a class="nav-link" href="../index.html">
    <img src="../IMG/home-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Main page</span>
  </a>
</li>

<li class="nav-item p-3  class="mx-auto"><a>THE BASICS</a></li>

<li class="nav-item p-3">
  <a class="nav-link" href="./main.html">
    <img src="../IMG/toggle-start-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Getting started</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./tags.html">
    <img src="../IMG/xml-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Tags</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./id.html">
    <img src="../IMG/xml-svgrepo-com.svg" class="nav-icon hotpink">
    <span>ID's</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./interpreter.html">
    <img src="../IMG/gear.png" class="nav-icon hotpink">
    <span>The interpeter</span>
  </a>
</li>

<li class="nav-item p-3  class="mx-auto"><a>LANGUAGE FUNDAMENTALS</a></li>

<li class="nav-item p-3">
  <a class="nav-link" href="./variables.html">
    <img src="../IMG/letter-x.svg" class="nav-icon hotpink">
    <span>Variables</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/key-skeleton-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Publicty/Privacy</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/logic-diagram-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Conditionals</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/reload-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Loops</span>
  </a>
</li>



<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/function-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Functions</span>
  </a>
</li>

<li class="nav-item p-3  class="mx-auto"><a>OPERATORS</a></li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/circle-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Unary operators</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./binops.html">
    <img src="../IMG/intersect-circle-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Binary operators</span>
  </a>
</li>

<li class="nav-item p-3  class="mx-auto"><a>LIBRARIES</a></li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/book-1206-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Libraries</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/arrows-vertical.png" class="nav-icon hotpink">
    <span>Imports/Exports</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./stdlib.html">
    <img src="../IMG/gear.png" class="nav-icon hotpink">
    <span>Standard library</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./mathlib.html">
    <img src="../IMG/sigma-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Math library</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./iolib.html">
    <img src="../IMG/document-svgrepo-com.svg" class="nav-icon hotpink">
    <span>IO</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./cryptolib.html">
    <img src="../IMG/padlock.svg" class="nav-icon hotpink">
    <span>Crypto</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./randlib.html">
    <img src="../IMG/random-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Random library</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html" >
    <img src="../IMG/plus.svg" class="nav-icon hotpink">
    <span>Adding libraries</span>
  </a>
</li>

<li class="nav-item p-3  class="mx-auto"><a>EXTERNAL</a></li>


<li class="nav-item p-3">
  <a class="nav-link" href="./DOC/main.html">
    <img src="../IMG/github-01-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Github</span>
  </a>
</li>


<li class="nav-item p-3">
  <a class="nav-link" href="./absent.html">
    <img src="../IMG/discord-icon-svgrepo-com.svg" class="nav-icon hotpink">
    <span>Discord</span>
  </a>
</li>

<li class="nav-item p-3">
  <a class="nav-link" href="../license.html" >
    <img src="../IMG/license-svgrepo-com.svg" class="nav-icon hotpink">
    <span>License</span>
  </a>
</li>

</div>